.cover__title-container {
  max-width: 560px;
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__title-container {
    max-width: 288px;
  }
}
